// font family
$PrimaryLight: "Montserrat-Light";
$PrimaryRegular: "Montserrat-Regular";
$PrimaryMedium: "Montserrat-Medium";
$PrimarySemi: "Montserrat-SemiBold";
$PrimaryBold: "Montserrat-Bold";

$SecundaryLight: "ProximaNova-Light";
$SecundaryRegular: "ProximaNova-Regular";
$SecundarySemi: "ProximaNova-Bold";

$font-family: $PrimaryRegular;
