$max-width: 1400px !default;
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: $PrimaryRegular;
  position: relative;
  //padding-top: 70px;
  @include desde(m){
    padding-top: 0px;
  }

  &.active{
    overflow: hidden;
  }

  &.body-home{
    padding-top: 0px;
    overflow-x: hidden;

    .container-header{
      position: absolute;
      top: 0;
      box-shadow: none;
      background: transparent;

      &__box{
        background: transparent;
      }

      @include desde(m){
        box-shadow: none;
        //padding: 0 7%;
        position: absolute;
      }
      .icon-social{
        color: $white;
      }
      .container-nav__link{
        @include desde(m){
          color: $white;
        }
      }

      .icon-menu{
        color: $white;
      }
    }
  }
}
//Contenedor de rows con width maximo, sin grid
.container{
    width: 95%;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }
  .container-banner{
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  //Contenedor de rows full screen, sin grid
  .container-fluid{
    max-width: 100%;
  }

  .active-logo{
    display: block;
  }