@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icon-fonts/icomoon.eot?1thhls');
    src:  url('../fonts/icon-fonts/fonts/icomoon.eot?1thhls#iefix') format('embedded-opentype'),
      url('../fonts/icon-fonts/fonts/icomoon.ttf?1thhls') format('truetype'),
      url('../fonts/icon-fonts/fonts/icomoon.woff?1thhls') format('woff'),
      url('../fonts/icon-fonts/fonts/icomoon.svg?1thhls#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
.icon-arrow-r:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e903";
}
.icon-play:before {
  content: "\e904";
}
.icon-security:before {
  content: "\e905";
}
.icon-claim-book:before {
  content: "\e906";
}
.icon-youtube-circle:before {
  content: "\e907";
}
.icon-circled-facebook:before {
  content: "\e908";
}
.icon-heart:before {
  content: "\e909";
}
.icon-position .path1:before {
  content: "\e90a";
  color: rgb(255, 255, 255);
}
.icon-position .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-phone:before {
  content: "\e90c";
}
.icon-clock:before {
  content: "\e90d";
}
.icon-plus:before {
  content: "\e90e";
}
.icon-Error-404:before {
  content: "\e90f";
}
.icon-Error-500:before {
  content: "\e910";
}
.icon-send-message:before {
  content: "\e911";
}
.icon-close:before {
  content: "\e605";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-check:before {
  content: "\f00c";
}
