<section class="banner-home">
    <div class="banner-home__content" data-aos="fade-right">
        <strong class="bold">Vive momentos de</strong>
        relajacion, restauracion<div class="last-word">y descanso</div>
    
        <a class="btn btn-blue-light banner-home__content__btn" href="./detail-treatment.html">Mas informacion</a>
    </div>
    <div class="banner-home__info-footer">
        <div class="banner-home__info-footer__item" data-aos="fade-up">
            <div class="title">Tratamientos especializados</div>
            <div class="subtitle">SubTitle SubTitle</div>
        </div>  
        <div class="banner-home__info-footer__item" data-aos="fade-up">
            <div class="title">Tratamientos especializados</div>
            <div class="subtitle">SubTitle SubTitle</div>
        </div>
        <div class="banner-home__info-footer__item" data-aos="fade-up">
            <div class="title">Tratamientos especializados</div>
            <div class="subtitle">SubTitle SubTitle</div>
        </div>
        <div class="banner-home__info-footer__item" data-aos="fade-up">
            <div class="title">Tratamientos especializados</div>
            <div class="subtitle">SubTitle SubTitle</div>
        </div>
    </div>

    <div class="progressBar-slider">
        <div id="bar" class="run-animation"></div>
    </div>

    <div class="banner-home-container">
        <div class="banner-home-container__item">
            <div class="banner-home__image">
                <img src="https://picsum.photos/1920/1024" />
            </div>
        </div>  

        <div class="banner-home-container__item">
            <div class="banner-home__image">
                <img src="https://picsum.photos/id/20/1920/1024" />
            </div>
        </div>  

        <div class="banner-home-container__item">
            <div class="banner-home__image">
                <img src="https://picsum.photos/id/29//1920/1024" />
            </div>
        </div>  

        <div class="banner-home-container__item">
            <div class="banner-home__image">
                <img src="https://picsum.photos/id/10/1920/1024" />
            </div>
        </div>
    </div>

</section>
