
<section class="general-tabs">
    <div class="general-tabs__header">
        <div class="tab active">¿En que consiste?</div>
        <div class="tab">Beneficios</div>
        <div class="tab">Zonas de aplicacion</div> 
        <div class="tab">Plus y premiun</div>    
    </div>
    
    <div class="general-tabs__body">
        <div class="content active">
            <div class="title">
                Tratamiento innovador de reductor de abdomen & cintura y mas
            </div>
            <div class="paragraph">
                Lorem ipsum dolor sit amet consectetur adipiscing elit, nisi aliquet ridiculus montes arcu porttitor, in nostra orci nisl gravida sapien. Volutpat vivamus urna duis malesuada rutrum aenean dui, justo torquent montes tempor accumsan placerat, pulvinar dictumst habitasse litora iaculis lacinia.
            </div>
            <div class="paragraph">
                Lorem ipsum dolor sit amet consectetur adipiscing elit, nisi aliquet ridiculus montes arcu porttitor, in nostra orci nisl gravida sapien. Volutpat vivamus urna duis malesuada rutrum aenean dui, justo torquent montes tempor accumsan placerat, pulvinar dictumst habitasse litora iaculis lacinia.
            </div>
            <div class="paragraph">
                Lorem ipsum dolor sit amet consectetur adipiscing elit, nisi aliquet ridiculus montes arcu porttitor, in nostra orci nisl gravida sapien. Volutpat vivamus urna duis malesuada rutrum aenean dui, justo torquent montes tempor accumsan placerat, pulvinar dictumst habitasse litora iaculis lacinia.
            </div>
        </div>
        <div class="content">
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
        </div>
        <div class="content">
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
        </div>
    </div>
</section>