<section class="tabs-home-container container">
    <div class="tabs-home-container__header" data-aos="fade-right">
        <div class="title">¿Por que elegir?<div class="letter-floor"><img src="../assets/img/fondo-titulo.png" /></div></div>
    </div>

    <div class="tabs-home-container__body speciality" data-aos="fade-right">
        <div class="tabs-box">
                <div class="tabs-box__item active">Especialistas en belleza</div>
                <div class="tabs-box__item">Tecnologia avanzada</div>
                <div class="tabs-box__item">Atencion personalizada</div>
                <div class="tabs-box__item">Ambiente agradable</div>
        </div>

        <div class="tabs-content">
            <div class="content content-tab active">
                <div class="content-tab__header">Especialistas en belleza</div>
                <div class="info">    
                    <div class="icon"><img src="../assets/img/tab-home-icon.png" /></div>
                    <div class="title">Tecnologia avanzada1</div>
                    <div class="paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit, varius pharetra neque gravida ad at elementum lacus, lobortis donec in molestie rutrum hendrerit. </div>
                    <a class="btn btn-blue-light" href="./contact.html">Conocenos</a>                
                </div>
                
            </div>
            <div class="content content-tab">
                <div class="content-tab__header">Tecnologia avanzada</div>
                <div class="info">
                    <div class="icon"><img src="../assets/img/tab-home-icon.png" /></div>
                    <div class="title">Tecnologia avanzada2</div>
                    <div class="paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit, varius pharetra neque gravida ad at elementum lacus, lobortis donec in molestie rutrum hendrerit. </div>
                    <a class="btn btn-blue-light" href="./contact.html">Conocenos</a>
                </div>
            </div>
            <div class="content content-tab">
                <div class="content-tab__header">Atencion personalizada</div>
                <div class="info">
                    <div class="icon"><img src="../assets/img/tab-home-icon.png" /></div>
                    <div class="title">Tecnologia avanzada3</div>
                    <div class="paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit, varius pharetra neque gravida ad at elementum lacus, lobortis donec in molestie rutrum hendrerit. </div>
                    <a class="btn btn-blue-light" href="./contact.html">Conocenos</a>
                </div>
            </div>
            <div class="content content-tab">
                <div class="content-tab__header">Ambiente agradable</div>
                <div class="info">
                    <div class="icon"><img src="../assets/img/tab-home-icon.png" /></div>
                    <div class="title">Tecnologia avanzada4</div>
                    <div class="paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit, varius pharetra neque gravida ad at elementum lacus, lobortis donec in molestie rutrum hendrerit. </div>
                    <a class="btn btn-blue-light" href="./contact.html">Conocenos</a>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs-home-container__image" data-aos="fade-left"><img src="../assets/img/tab-home.png" /></div>
</section>