<section class="tabs-home-container container">
    <div class="tabs-home-container__header">
        <div class="title">¿Por que elegir?</div>
    </div>

    <div class="tabs-home-container__body">
        <div class="tabs-box">
            <div class="tabs-box__item">Especialistas en belleza</div>
            <div class="tabs-box__item active">Tecnologia avanzada</div>
            <div class="tabs-box__item">Atencion personalizada</div>
            <div class="tabs-box__item">Ambiente agradable</div>
        </div>

        <div class="tabs-content">
            <div class="content active">
                <div class="icon"><img src="#" /></div>
                <div class="title">Tecnologia avanzada</div>
                <div class="paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit, varius pharetra neque gravida ad at elementum lacus, lobortis donec in molestie rutrum hendrerit. </div>
                <a class="btn btn-blue-light" href="./contact.html">Conocenos</a>
            </div>
            <div class="content">
                <div class="icon"><img src="#" /></div>
                <div class="title">Tecnologia avanzada</div>
                <div class="paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit, varius pharetra neque gravida ad at elementum lacus, lobortis donec in molestie rutrum hendrerit. </div>
                <a class="btn btn-blue-light" href="./contact.html">Conocenos</a>
            </div>
            <div class="content">
                <div class="icon"><img src="#" /></div>
                <div class="title">Tecnologia avanzada</div>
                <div class="paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit, varius pharetra neque gravida ad at elementum lacus, lobortis donec in molestie rutrum hendrerit. </div>
                <a class="btn btn-blue-light" href="./contact.html">Conocenos</a>
            </div>
            <div class="content">
                <div class="icon"><img src="#" /></div>
                <div class="title">Tecnologia avanzada</div>
                <div class="paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit, varius pharetra neque gravida ad at elementum lacus, lobortis donec in molestie rutrum hendrerit. </div>
                <a class="btn btn-blue-light" href="./contact.html">Conocenos</a>
            </div>
        </div>
    </div>

    

    <div class="tabs-home-container__image"><img src="https://picsum.photos/id/676/400/600" /></div>
</section>