<section class="tabs-home-container container">
    <div class="tabs-home-container__header" data-aos="fade-right">
        <div class="title">¿Por que elegir?<div class="letter-floor"></div></div>
        
    </div>

    <div class="tabs-home-container__body" data-aos="fade-right">
        <div class="tabs-box">
            <div class="tabs-box__item active">Especialistas en belleza</div>
            <div class="tabs-box__item">Tecnologia avanzada</div>
            <div class="tabs-box__item">Atencion personalizada</div>
            <div class="tabs-box__item">Ambiente agradable</div>
        </div>

        <div class="tabs-content">
            <div class="content content-tab active">
                <div class="icon"><img src="../assets/img/headache-copy-2.svg" /></div>
                <div class="title">Tecnologia avanzada1</div>
                <div class="paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit, varius pharetra neque gravida ad at elementum lacus, lobortis donec in molestie rutrum hendrerit. </div>
                <a class="btn btn-blue-light" href="./contact.html">Conocenos</a>
            </div>
            <div class="content content-tab">
                <div class="icon"><img src="../assets/img/headache-copy-2.svg" /></div>
                <div class="title">Tecnologia avanzada2</div>
                <div class="paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit, varius pharetra neque gravida ad at elementum lacus, lobortis donec in molestie rutrum hendrerit. </div>
                <a class="btn btn-blue-light" href="./contact.html">Conocenos</a>
            </div>
            <div class="content content-tab">
                <div class="icon"><img src="../assets/img/headache-copy-2.svg" /></div>
                <div class="title">Tecnologia avanzada3</div>
                <div class="paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit, varius pharetra neque gravida ad at elementum lacus, lobortis donec in molestie rutrum hendrerit. </div>
                <a class="btn btn-blue-light" href="./contact.html">Conocenos</a>
            </div>
            <div class="content content-tab">
                <div class="icon"><img src="../assets/img/headache-copy-2.svg" /></div>
                <div class="title">Tecnologia avanzada4</div>
                <div class="paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit, varius pharetra neque gravida ad at elementum lacus, lobortis donec in molestie rutrum hendrerit. </div>
                <a class="btn btn-blue-light" href="./contact.html">Conocenos</a>
            </div>
        </div>
    </div>

    

    <div class="tabs-home-container__image" data-aos="fade-left"><img src="https://picsum.photos/id/676/400/600" /></div>
</section>