<section class="tabs-only-promotion">
    <div class="tabs-only-promotion__header">
        <div class="tab">¿En que consiste?</div>
        <div class="tab">Beneficios</div>
        <div class="tab">Tratamientos</div>    
    </div>
    
    <div class="tabs-only-promotion__body">
        <div class="content">
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
        </div>
        <div class="content">
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
        </div>
        <div class="content">
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
            <div class="content__item">
                <strong class="bold">Drenaje linfatico</strong>manual debe tener un efecto relajante, muy relajante. Al estimular e sistema linfatico, el terapeuta ayuda a evacuar liquidos retenidos, disminuir tejidos inflamados, apoyar al sistema inmunologico del cuerpo.
            </div>
        </div>
    </div>
</section>