.price-box-container{
    width: 90%;
    background: #c7cdff;
    padding: 60px 35px;
    color: $blue-dark;
    max-width: 320px;

    @include desde(m){
        padding: 40px;
    }

    &__header{
        font-family: $PrimarySemi;
        font-size: 18px;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;

        @include desde(s){
            text-align: left;
        }
    }

    &__body{
        width: 100%;
        border-bottom: 1.5px solid rgba($white, .45);
        padding-bottom: 25px;
        .description-menu{
            &__item{
                padding: 7px 0;
                padding-left: 25px;
                font-family: $SecundaryRegular;
                 font-size: 15px;
            }
        }

        .description-text{
            font-size: 13px;
            line-height: 1.35;
            text-align: center;
            font-family: $SecundaryRegular;
            @include desde(s){
                text-align: left;
            }
        }
    }

    &__footer{
        font-family: $SecundaryRegular;
        padding: 25px 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desde(s){
            align-items: flex-start;
        }
        .bold{
            font-family: $SecundarySemi;
            font-size: 24px;
            line-height: 1.6;
        }

        .before{
            font-size: 12px;
        }

        .btn-reserv{
            margin-top: 25px;
            width: 100%;
            @include desde(m){
                width: auto;
            }
        }
    }
}