.transition-services-reserv{
    width: 100%;
    background: #c7cdff;
    padding: 100px 7% 50px 7%;

    &__box{
        background: $white;
        width: 100%;
        padding: 60px 7%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        height: 420px;

        .content{
            width: 50%;

            &__header{
                color: $blue-dark;
                font-size: 28px;
                line-height: 1.35;
            }

            & .text{
                margin: 30px 0;
                margin-bottom: 40px;
                font-size: 20px;
                line-height: 1.3;
            }
        }

        .image{
            position: absolute;
            right: 60px;
            bottom: 20px;
            width: 40%;

        }
    }
}