.aboutus-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;

    .banner-aboutus{
        &-container{
            width: 100%;
            overflow: hidden;
            position: relative;
        }
        &__image{
            width: 100%;
            img{
                width: 100%;
                object-fit: cover;
                height: 360px;
            }
        }

        &__content{
            max-width: 540px;
            width: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            top: calc(50% - 33px);
            left: 5%;
            font-size: 14px;
            color: $blue-dark;

            @include desde(m){
                left: 10%;
                font-size: 18px;
            }

            .bold{
                margin-top: 5px;
                font-size: 28px;
                @include desde(s){
                    font-size: 32px;
                }
                @include desde(m){
                    font-size: 36px;
                }
            }
        }
    }


    .info-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 1024px;
        margin: auto;
        padding: 100px 5%;

        @include desde(s){
            flex-direction: row;
        }

        @include desde(m){
            padding: 0 5%;
        }

        .left, .right{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: auto;

            @include desde(m){
                width: 50%;
                height: 450px;
                justify-content: center;
            }

            .content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin: auto;
                max-width: 100%;
                margin: 30px 0;
                color: $blue-light;

                @include desde(s){
                    margin: 30px;
                }

                &.title{
                    font-size: 45px;
                    width: 70%;
                    justify-content: flex-start;

                    .bold{
                        font-family: $PrimaryBold;
                        font-size: 50px;
                    }

                    .last-word{
                        position: relative;
                        //margin-top: 0;

                        &::after{
                            content: "";
                            background: $blue-light;
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            position: absolute;
                            border-radius: 50%;
                            bottom: 12px;
                            right: -15px;
                        }
                    }
                }
        
                .text{
                    margin-bottom: 25px;
                    font-size: 16px;
                    line-height: 1.75;
                    color: $blue-dark;

                    @include desde(s){
                        line-height: 1.4;
                    }

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }

        .left{

        }

        .right{

        }
    }

}