.contact-banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    &-container{
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    &__image{
        width: 100%;
        position: relative;
        &::before{
            content: "";
            background: rgba(#71A0AD, .2);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            //opacity: .2;
            display: inline-block;
            position: absolute;
        }
        img{
            width: 100%;
            object-fit: cover;
            height: 400px;
        }
    }

    &__content{
        max-width: 540px;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: calc(50% - 55px);
        left: 5%;
        font-size: 14px;
        color: $blue-dark;
        font-family: $PrimaryLight;

        @include desde(m){
            left: 7%;
            font-size: 18px;
        }

        .bold{
            margin-top: 5px;
            font-size: 28px;
            font-family: $PrimaryBold;
            @include desde(s){
                font-size: 32px;
            }
            @include desde(m){
                font-size: 36px;
            }
        }
    }
}
