.detail-box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; 
    padding: 0 5%;
    
    align-items: flex-start;

    @include desde(m){
        grid-template-columns: minmax(40% , 40%) minmax(60% , 60%); 
        padding: 50px 7%;
        padding-top: 0;
    }

    .price-box-container{
        width: 100%;
        //max-width: 100%;
        margin: auto auto 60px;
        
        @include desde(m){
            width: 90%;
            max-width: initial;
            margin-bottom: 0px;
            margin-left: 0;
            max-width: 360px;
        }
    }
    
}   