.only-promotion{
    width: 100%;
    &__tabs{
        width: 100%;
        padding: 0 5%;
        @include desde(m){
            padding: 0 7%;
        }

        .general-tabs__body{
            padding-top: 0;
        }
    }

    &__main{
        width: 100%;
        padding: 0 5%;
        margin-bottom: 50px;
        @include desde(m){
            margin-bottom: 100px;
            padding: 0 7%;
        }

        &__header{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: $blue-dark;
            padding: 25px 0;
            .title{
                font-size: 18px;
                margin-bottom: 10px;
                font-family: $PrimaryLight;
            }

            .subtitle{
                font-family: $PrimaryBold;
                font-size: 32px;
                
                position: relative;
                &::after{
                    content: "";
                    background: $blue-light;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    position: absolute;
                    bottom: 4px;
                    margin-left: 10px;
                    //right: 0;
                }
            }
        }

        &__content{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;

            @include desde(m){
                grid-template-columns: 65% 35%;
                grid-template-rows: 1fr;
            }

            .slider-banner{
                width: 100%;
                //background: #1c1c1c;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr min-content;
                grid-row-gap: 10px;
                padding-top: 25px;

                @include desde(m){
                    grid-template-columns: minmax(20%, 80px) 1fr;
                    grid-template-rows: 1fr;
                    grid-row-gap: 0;
                    grid-column-gap: 10px;
                }
                &__vertical{
                    order: 2;

                    @include desde(m){
                        order: 1;
                    }
                    &__item{
                        margin-bottom: 10px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }

                &__horizontal{
                    order: 1;

                    @include desde(m){
                        order: 2;
                    }
                    &__item{
                        height: 100%;
                        img{
                            height: 540px;
                            object-fit: cover;
                        }
                        
                    }
                }
            }

            .promotion-description{
                padding: 40px 0;
                @include desde(m){
                    padding: 30px 12%;
                }
                &__price{
                    width: 100%;
                    color: $blue-light;
                    font-family: $PrimarySemi;
                    .small{
                        font-size: 14px;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }

                    .price{
                        &.actual{
                            font-size: 36px;
                            margin-bottom: 15px;
                        }

                        &.before{
                            color: $blue-dark;
                            font-size: 16px;
                        }
                        
                    }
                }

                &__description{
                    color: $blue-dark;
                    font-size: 16px;
                    font-family: $PrimaryBold;
                    margin: 20px 0;

                    &__menu{
                        padding: 10px 0;
                        font-family: $SecundaryRegular;

                        &__item{
                            width: 100%;
                            padding-left: 25px;
                            font-size: 16px;
                            margin-bottom: 10px;
                            position: relative;
                            &::before{
                                position: absolute;
                                left: 0;
                                color: $blue-light;
                                font-size: 14px;
                                display: inline-block;
                                content: "\e90e";
                                font-family: icomoon;
                            }

                            &:last-child{
                                padding-bottom: 0;
                            }
                        }
                    }
                }

                .btn-reserv{
                    padding: 1rem;
                    width: 100%;

                    @include desde(s){
                        width: 100%;
                    }
                }
            }
        }
    }
}