.my-promotions-container{
    width: 100%;
    display: flex;
    flex-direction: column;

    &__header{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 80px 7%;

        @include desde(m){
            padding: 50px 7%;
        }

        .title{
            font-size: 36px;
            color: $blue-dark;
            text-align: center;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-family: $PrimaryLight;

            @include desde(s){
                flex-direction: row;
            }

            .bold{
                font-family: $PrimaryBold;
                margin-right: 7px;
            }

            .last-word{
                position: relative;
                &::before{
                    content: "";
                    background: $blue-light;
                    position: absolute;
                    right: calc(50% - 165px);
                    bottom: 10px;
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
            }
        }

        .subtitle{
            text-align: center;
            max-width: 768px;
            margin: auto;
            font-family: $SecundaryRegular;
            font-size: 16px;
        }
    }

    &__body{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        max-width: 1024px;
        padding: 0 5%;
        .promotion-card{
            cursor: pointer;
            max-width: 100%;
        }
        
        @include desde(s){
            grid-template-columns: 1fr 1fr;
        }
        @include desde(m){
            //padding: 0;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        &__item{
            display: inline-block;
        }
    }
}



.banner-programs{
    &__content{
        font-family: $SecundaryLight;
        font-size: 18px;

        .bold{
            font-family: $PrimaryBold;
            margin-top: 20PX;
        }
    }

    &__image img{
        @include desde(m){
            height: 768px;
            max-height: none;
        }
    }

    &__info-footer{
        bottom: 60px;
    }

    .progressBar-slider{
        bottom: 25px;
    }
}
