<div class="checkbox terms-and-conditions">
    <label class="checkbox__content" data-aos="fade-up">
        <input type="checkbox" name="terms_and_conditions">
        <span class="checkbox__box"></span>
        <span class="checkbox__name">Acepto los <a>Términos y Condiciones de privacidad</a> de Nativa esthetic.
        </span>
    </label>
</div>