<div class="form__row__col">
    <div class="form__group input-material">
        <label for="">{{ input.label }}</label>
        <textarea required></textarea>
        <div class="description-footer">(*) Todos los campos son obligatorios</div>
    </div>
</div>