{% extends '../layouts/base.twig' %}


{% block title %}Nativa{% endblock %}

{% block content %}

    <section class="contact-banner">
        <div class="contact-banner-container">
            <div class="contact-banner__image">
                <img src="../assets/img/contacto-2.jpg" />
            </div>
            <div class="contact-banner__content" data-aos="fade-right">
                Contacto
                <strong class="bold">Comunicate con<br>Nosotros</strong>
            </div>
        </div>  
    </section>

    <div class="transition-wrapper">
        <div class="text" data-aos="fade-up">
            <strong class="bold">Estamos para atenderte</strong><br>
            <div class="last-word">visita nuestras sedes</div>
        </div>
    </div>

    {% include '../components/contact-map.twig' %}

    {% include '../components/contact-form.twig' %}

{% endblock %}
{% block scripts %}
<script src="./assets/js/contact.js"></script>
{% endblock %}