{% extends '../layouts/base.twig' %}


{% block title %}Nativa{% endblock %}

{% block content %}

    <div class="only-promotion">
        <div class="breadcums-container container blue-light">
            {% include '../common/breadcums.twig' %}
        </div>
    
        <section class="only-promotion__main container">
            <div class="only-promotion__main__header">
                <div class="title">Tratamientos Faciales</div>
                <div class="subtitle">Limpieza, exfoleacion & hidratacion corporal</div>
            </div>

            <div class="only-promotion__main__content">
                <div class="slider-banner">
                    <div class="slider-banner__vertical">
                        <div class="slider-banner__vertical__item">
                            <img src="../assets/img/limpieza-profunda.png" />
                        </div>
                        <div class="slider-banner__vertical__item">
                            <img src="../assets/img/limpieza-profunda.png" />
                        </div>
                        <div class="slider-banner__vertical__item">
                            <img src="../assets/img/limpieza-profunda.png" />
                        </div>
                    </div>
                    <div class="slider-banner__horizontal">
                        <div class="slider-banner__horizontal__item">
                            <img src="../assets/img/limpieza-profunda.png" />
                        </div>
                        <div class="slider-banner__horizontal__item">
                            <img src="../assets/img/limpieza-profunda.png" />
                        </div>
                        <div class="slider-banner__horizontal__item">
                            <img src="../assets/img/limpieza-profunda.png" />
                        </div>
                        <div class="slider-banner__horizontal__item">
                            <img src="../assets/img/limpieza-profunda.png" />
                        </div>
                    </div>
                </div>

                <div class="promotion-description">
                    <div class="promotion-description__price">
                        <div class="small">Desde:</div>
                        <div class="price actual">S/179</div>
                        <div class="price before">Antes S/220.00</div>
                    </div>

                    <div class="promotion-description__description">
                        El programa incluye

                        <ul class="promotion-description__description__menu">
                            <li class="promotion-description__description__menu__item">Zonas: Abdomen, cintura, espalda alto o espalda baja.</li>
                            <li class="promotion-description__description__menu__item">Zonas: Abdomen, cintura, espalda alto o espalda baja.</li>
                            <li class="promotion-description__description__menu__item">Zonas: Abdomen, cintura, espalda alto o espalda baja.</li>
                            <li class="promotion-description__description__menu__item">Zonas: Abdomen, cintura, espalda alto o espalda baja.</li>
                            <li class="promotion-description__description__menu__item">Zonas: Abdomen, cintura, espalda alto o espalda baja.</li>
                            <li class="promotion-description__description__menu__item">Zonas: Abdomen, cintura, espalda alto o espalda baja.</li>
                        </ul>
                    </div>

                    <a class="btn btn-orange btn-reserv">Reservar ahora</a>
                </div>
            </div>
        </section>
        <div class="only-promotion__tabs container">
            {% include '../molecules/general-tabs.twig' %}
        </div>
        
    </div>

    {% include '../components/modal-hablemos.twig' %}

{% endblock %}
{% block scripts %}
<script src="./assets/js/programs.js"></script>
{% endblock %}