{% extends '../layouts/base.twig' %}


{% block title %}Nativa{% endblock %}

{% block content %}

    <section class="aboutus-wrapper">
        <div class="banner-aboutus-container">
            <div class="banner-aboutus__image">
                <img src="../assets/img/detail-banner-2.png" />
            </div>
            <div class="banner-aboutus__content container" data-aos="fade-right">
                Tratamientos Corporales
                <strong class="bold">Fitness Reductor</strong>
            </div>
        </div>
    </section>


    <section class="breadcums-container">
        {% include '../common/breadcums.twig' %}
    </section>

    <section class="detail-box container">
        {% include '../components/detail-price-box.twig' %}

        {% include '../molecules/general-tabs.twig' %}
    </section>

    {% include '../components/our-procedures.twig' %}

    <hr class="separator" />

    <!--{% include '../components/facial-creams.twig' %}-->

    {% include '../components/transition-services-reserv.twig' %}


    {% include '../components/modal-hablemos.twig' %}

{% endblock %}
{% block scripts %}
<script src="./assets/js/detail-treatment.js"></script>
{% endblock %}