{% extends '../layouts/base.twig' %}


{% block title %}Nativa{% endblock %}

{% block content %}

     <section class="banner-home">
        <div class="banner-home-container">
            <div class="banner-home__image">
                <img src="https://picsum.photos/1920/1024" />
            </div>
            <div class="banner-home__content">
                Servicios
               <strong class="bold">Trratamientos Corporales</strong>
            </div>
            <div class="banner-home__info-footer">
                <div class="banner-home__info-footer__item">
                    <div class="title">Sientase seguro</div>
                    <div class="subtitle">Lorem ipsum dolor sit amet consectetur</div>
                </div>
                <div class="banner-home__info-footer__item">
                    <div class="title">Tecnologia Especializada</div>
                    <div class="subtitle">Lorem ipsum dolor sit amet consectetur</div>
                </div>
                <div class="banner-home__info-footer__item">
                    <div class="title">Convenios con Compañias</div>
                    <div class="subtitle">Lorem ipsum dolor sit amet consectetur</div>
                </div>
                <div class="banner-home__info-footer__item">
                    <div class="title">Mejor atencion medica</div>
                    <div class="subtitle">Lorem ipsum dolor sit amet consectetur</div>
                </div>
            </div>
        </div>  
    </section>


    <section class="breadcums-container">
        {% include '../common/breadcums.twig' %}
    </section>

    <section class="detail-box container">
        {% include '../components/detail-price-box.twig' %}

        {% include '../molecules/general-tabs.twig' %}
    </section>

    {% include '../components/our-procedures.twig' %}

    {% include '../components/transition-services-reserv.twig' %}


    {% include '../components/modal-hablemos.twig' %}

{% endblock %}
{% block scripts %}
{% endblock %}