{% extends '../layouts/base.twig' %}


{% set body__class = 'body-home' %}

{% block title %}Nativa{% endblock %}

{% block content %}

    {% include '../molecules/banner-home.twig' %}

    <section class="treatments-container container">
        
        {% include '../components/treatment-card.twig' %}

        {% include '../components/treatment-card.twig' %}

        {% include '../components/treatment-card.twig' %}

        {% include '../components/treatment-card.twig' %}
    
    </section>

    {% include '../molecules/tabs-home.twig' %}

    {% include '../components/promotions.twig' %}

    {% include '../components/banner-video.twig' %}

{% endblock %}
{% block scripts %}
   <script src="./assets/js/home.js"></script>
{% endblock %}