{% extends '../layouts/base.twig' %}


{% block title %}Nativa{% endblock %}

{% block content %}

    <section class="banner-home">
        <div class="banner-home-container">
            <div class="banner-home__image">
                <img src="https://picsum.photos/1920/1024" />
            </div>
            <div class="banner-home__content">
               <strong class="bold">Vive momentos de</strong>
                relajacion, restauracion<div class="last-word">y descanso</div>
            
                <div class="btn btn-blue-light banner-home__content__btn">Mas informacion</div>
            </div>
            <div class="banner-home__info-footer">
                <div class="banner-home__info-footer__item">
                    <div class="title">Tratamientos especializados</div>
                    <div class="subtitle">SubTitle SubTitle</div>
                </div>
                <div class="banner-home__info-footer__item">
                    <div class="title">Tratamientos especializados</div>
                    <div class="subtitle">SubTitle SubTitle</div>
                </div>
                <div class="banner-home__info-footer__item">
                    <div class="title">Tratamientos especializados</div>
                    <div class="subtitle">SubTitle SubTitle</div>
                </div>
                <div class="banner-home__info-footer__item">
                    <div class="title">Tratamientos especializados</div>
                    <div class="subtitle">SubTitle SubTitle</div>
                </div>
            </div>
        </div>  
    </section>

    <section class="treatments-container container">
        <div class="treatments-container__item">
            <div class="treatments-container__item__content">
                <div class="treatments-container__item__content__header">
                    <img src="#" class="icon" />
                    <div class="title">Tratamientos corporales</div>
                </div>
                
                <div class="description treatments-container__item__content__body">
                    <li class="description__item">Fitness reductor</li>
                    <li class="description__item">Fitness reductor</li>
                    <li class="description__item">Fitness reductor</li>
                    <li class="description__item">Fitness reductor</li>
                </div>
                
                <div class="more-info">+</div>
            </div>
        </div>
        <div class="treatments-container__item">
            <div class="treatments-container__item__content">
                <img src="#" class="icon" />
                <div class="title">Tratamientos corporales</div>
                <ul class="description">
                    <li class="description__item">Fitness reductor</li>
                    <li class="description__item">Fitness reductor</li>
                    <li class="description__item">Fitness reductor</li>
                    <li class="description__item">Fitness reductor</li>
                </ul>
                <div class="more-info">+</div>
            </div>
        </div>
        <div class="treatments-container__item">
            <div class="treatments-container__item__content">
                <img src="#" class="icon" />
                <div class="title">Tratamientos corporales</div>
                <ul class="description">
                    <li class="description__item">Fitness reductor</li>
                    <li class="description__item">Fitness reductor</li>
                    <li class="description__item">Fitness reductor</li>
                    <li class="description__item">Fitness reductor</li>
                </ul>
                <div class="more-info">+</div>
            </div>
        </div>
        <div class="treatments-container__item">
            <div class="treatments-container__item__content">
                <img src="#" class="icon" />
                <div class="title">Tratamientos corporales</div>
                <ul class="description">
                    <li class="description__item">Fitness reductor</li>
                    <li class="description__item">Fitness reductor</li>
                    <li class="description__item">Fitness reductor</li>
                    <li class="description__item">Fitness reductor</li>
                </ul>
                <div class="more-info">+</div>
            </div>
        </div>
    </section>

    {% include '../molecules/tabs-home.twig' %}

    {% include '../components/promotions.twig' %}

    {% include '../components/banner-video.twig' %}

{% endblock %}
{% block scripts %}
{% endblock %}