{% extends '../layouts/base.twig' %}


{% set body__class = 'body-home' %}

{% block title %}Nativa{% endblock %}

{% block content %}

    {% include '../molecules/banner-home.twig' %}

    <section class="treatments-container container">
        
        {% include '../components/treatment-card.twig' %}

        {% include '../components/treatment-card.twig' %}

        {% include '../components/treatment-card.twig' %}

        {% include '../components/treatment-card.twig' %}
    
    </section>

    {% include '../molecules/tabs-home.twig' %}

    {% include '../components/promotions.twig' %}

    {% include '../components/banner-video.twig' %}

{% endblock %}
{% block scripts %}
<script>
$(window).scroll(function(){
  if ($(window).scrollTop() >= 70) {
      $('.container-header').addClass('fixed-header');
      $(".brand.blue-color").css("display" , "block");
      $(".brand.white-color").css("display" , "none");
  }
  else {
      $('.container-header').removeClass('fixed-header');
      $(".brand.blue-color").css("display" , "none");
      $(".brand.white-color").css("display" , "block");
  }
});
</script>
{% endblock %}