{% extends '../layouts/base.twig' %}


{% block title %}Nativa{% endblock %}

{% block content %}

    {% include '../molecules/banner-home.twig' %}


    <section class="my-promotions-container">
        <div class="my-promotions-container__header container">
            <div class="title"><strong class="bold">Conoce y aprovecha</strong><div class="last-word">las promociones</div></div>
            <div class="subtitle">Lorem ipsum dolor sit amet consectetur adipiscing elit risus nec, enim congue imperdiet aenean lobortis vivamus iaculis habitant porttitor primi</div>
        </div>

        <div class="my-promotions-container__body container">
            <div class="my-promotions-container__body__item">
                {% include '../components/promotion-card.twig' %}
            </div>
            <div class="my-promotions-container__body__item">
                {% include '../components/promotion-card.twig' %}
            </div>
            <div class="my-promotions-container__body__item">
                {% include '../components/promotion-card.twig' %}
            </div>
            <div class="my-promotions-container__body__item">
                {% include '../components/promotion-card.twig' %}
            </div>
            <div class="my-promotions-container__body__item">
                {% include '../components/promotion-card.twig' %}
            </div>
            <div class="my-promotions-container__body__item">
                {% include '../components/promotion-card.twig' %}
            </div>
            <div class="my-promotions-container__body__item">
                {% include '../components/promotion-card.twig' %}
            </div>
            <div class="my-promotions-container__body__item">
                {% include '../components/promotion-card.twig' %}
            </div>
            
        </div>
    </section>
    
{% endblock %}
{% block scripts %}
<script src="./assets/js/programs.js"></script>
{% endblock %}