{% extends '../layouts/base.twig' %}


{% block title %}Nativa{% endblock %}

{% block content %}

    <section class="banner-home">
        <div class="banner-home-container">
            <div class="banner-home__image">
                <img src="https://picsum.photos/1920/1024" />
            </div>
            <div class="banner-home__content">
                Programas
               <strong class="bold">¡Dia de Relax<br>para 02!</strong>
            </div>
            <div class="banner-home__info-footer">
                <div class="banner-home__info-footer__item">
                    <div class="title">Sientase seguro</div>
                    <div class="subtitle">Lorem ipsum dolor sit amet consectetur</div>
                </div>
                <div class="banner-home__info-footer__item">
                    <div class="title">Tecnologia Especializada</div>
                    <div class="subtitle">Lorem ipsum dolor sit amet consectetur</div>
                </div>
                <div class="banner-home__info-footer__item">
                    <div class="title">Convenios con Compañias</div>
                    <div class="subtitle">Lorem ipsum dolor sit amet consectetur</div>
                </div>
                <div class="banner-home__info-footer__item">
                    <div class="title">Mejor atencion medica</div>
                    <div class="subtitle">Lorem ipsum dolor sit amet consectetur</div>
                </div>
            </div>
        </div>  
    </section>


    <section class="my-promotions-container">
        <div class="my-promotions-container__header container">
            <div class="title"><strong class="bold">Conoce y aprovecha</strong><div class="last-word">las promociones</div></div>
            <div class="subtitle">Lorem ipsum dolor sit amet consectetur adipiscing elit risus nec, enim congue imperdiet aenean lobortis vivamus iaculis habitant porttitor primi</div>
        </div>

        <div class="my-promotions-container__body container">
            {% include '../components/promotion-card.twig' %}
            {% include '../components/promotion-card.twig' %}
            {% include '../components/promotion-card.twig' %}
            {% include '../components/promotion-card.twig' %}
            {% include '../components/promotion-card.twig' %}
            {% include '../components/promotion-card.twig' %}
            {% include '../components/promotion-card.twig' %}
            {% include '../components/promotion-card.twig' %}
        </div>
    </section>
    
{% endblock %}
{% block scripts %}
{% endblock %}