{% extends '../layouts/base.twig' %}


{% block title %}Nativa{% endblock %}

{% block content %}

    <section class="banner-programs">
    <div class="banner-programs__content" data-aos="fade-right">
        Programas
        <strong class="bold">¡Dia de Relax<br>para 02!</strong>
    </div>
    <div class="banner-programs__info-footer">
        <div class="banner-programs__info-footer__item" data-aos="fade-up">
            <div class="title">Tratamientos especializados</div>
            <div class="subtitle">SubTitle SubTitle</div>
        </div>  
        <div class="banner-programs__info-footer__item" data-aos="fade-up">
            <div class="title">Tratamientos especializados</div>
            <div class="subtitle">SubTitle SubTitle</div>
        </div>
        <div class="banner-programs__info-footer__item" data-aos="fade-up">
            <div class="title">Tratamientos especializados</div>
            <div class="subtitle">SubTitle SubTitle</div>
        </div>
        <div class="banner-programs__info-footer__item" data-aos="fade-up">
            <div class="title">Tratamientos especializados</div>
            <div class="subtitle">SubTitle SubTitle</div>
        </div>
    </div>

    <div class="progressBar-slider">
        <div id="bar" class="run-animation"></div>
    </div>

    <div class="banner-programs-container">
        <div class="banner-programs-container__item">
            <div class="banner-programs__image">
                <img src="../assets/img/programs.png" />
            </div>
        </div>  

        <div class="banner-programs-container__item">
            <div class="banner-programs__image">
                <img src="../assets/img/programs.png" />
            </div>
        </div>  

        <div class="banner-programs-container__item">
            <div class="banner-programs__image">
                <img src="../assets/img/programs.png" />
            </div>
        </div>  

        <div class="banner-programs-container__item">
            <div class="banner-programs__image">
                <img src="../assets/img/programs.png" />
            </div>
        </div>
    </div>

</section>



    <section class="my-promotions-container">
        <div class="my-promotions-container__header container">
            <div class="title"><strong class="bold">Conoce y aprovecha</strong><div class="last-word">las promociones</div></div>
            <div class="subtitle">Lorem ipsum dolor sit amet consectetur adipiscing elit risus nec, enim congue imperdiet aenean lobortis vivamus iaculis habitant porttitor primi</div>
        </div>

        <div class="my-promotions-container__body container">
            <div class="my-promotions-container__body__item">
                {% include '../components/promotion-card.twig' %}
            </div>
            <div class="my-promotions-container__body__item">
                {% include '../components/promotion-card.twig' %}
            </div>
            <div class="my-promotions-container__body__item">
                {% include '../components/promotion-card.twig' %}
            </div>
            <div class="my-promotions-container__body__item">
                {% include '../components/promotion-card.twig' %}
            </div>
            <div class="my-promotions-container__body__item">
                {% include '../components/promotion-card.twig' %}
            </div>
            <div class="my-promotions-container__body__item">
                {% include '../components/promotion-card.twig' %}
            </div>
            <div class="my-promotions-container__body__item">
                {% include '../components/promotion-card.twig' %}
            </div>
            <div class="my-promotions-container__body__item">
                {% include '../components/promotion-card.twig' %}
            </div>
            
        </div>
    </section>
    
{% endblock %}
{% block scripts %}
<script src="./assets/js/programs.js"></script>
{% endblock %}