.contact-form-container{
    width: 100%;
    padding: 100px 7%;
    position: relative;
    &__header{
        width: 100%;
        .title{
            color: $blue-light;
            font-size: 28px;
            font-family: $PrimarySemi;
            margin-bottom: 15px;
        }

        .subtitle{
            color: $blue-dark;
            font-size: 16px;
            margin-bottom: 30px;
            font-family: $PrimaryLight;
        }
    }

    &__form{
        .btn-send-contact{
            padding: 1rem 4rem;
            width: 100%;
            max-width: initial;

            @include desde(s){
                max-width: 200px;
            }
        }
    }
    .modal__content__close{
        display: none;
    }
}