<section class="footer-container">
    <div class="box-top">
        <div class="footer-nav-section">
            <div class="title">Conoce Nativa</div>
            <ul class="nav">
                <li class="nav__item"><a href="./index.html">Nosotros</li>
                <li class="nav__item"><a href="./detail-promotion.html">Programas</a></li>
                <li class="nav__item"><a href="./contact.html">Contacto</a></li>
            </ul>
        </div>

        <div class="footer-nav-section">
            <div class="title">Especialidades</div>
            <ul class="nav">
                <li class="nav__item">Tratamientos corporales</li>
                <li class="nav__item">Tratamientos faciales</li>
                <li class="nav__item">Cuidado personal</li>
                <li class="nav__item">Nutricion y salud</li>
            </ul>
        </div>

        <div class="footer-nav-section">
            <div class="title">Sedes</div>
            <ul class="nav">
                <li class="nav__item">Nosotros</li>
                <li class="nav__item">Programas</li>
            </ul>
        </div>
        <div class="footer-nav-section">
            <div class="title">Contactanos</div>
            <ul class="nav social-media">
                <li class="nav__item"><span class="icon-social icon"></span></li>
                <li class="nav__item"><span class="icon-social icon"></span></li>
                <li class="nav__item"><span class="icon-social icon"></span></li>
            </ul>
        </div>
    </div>

    <div class="box-center">
        <div class="terms-content">
            <img class="icon" src="../assets/img/shield.svg" />
            <div class="text">Deberes y Derechos de nuestros pacientes</div>
        </div>

        <div class="claim-book">
            <img class="icon" src="../assets/img/book-1.svg" />
            <div class="text">Libro de reclamaciones</div>
        </div>
    </div>
    <div class="box-bottom">
        <div>Nativa Spa Todos los derechos reservados 2019</div>
        <div>Diseño Web StaffDigital</div>
    </div>
</section>