<section class="footer-container">
    <div class="box-top">
        <div class="footer-nav-section">
            <div class="title">Conoce Nativa</div>
            <ul class="nav">
                <li class="nav__item"><a class="nav__item__link" href="./index.html">Nosotros</li>
                <li class="nav__item"><a class="nav__item__link" href="./detail-promotion.html">Programas</a></li>
                <li class="nav__item"><a class="nav__item__link" href="./contact.html">Contacto</a></li>
            </ul>
        </div>

        <div class="footer-nav-section">
            <div class="title">Especialidades</div>
            <ul class="nav">
                <li class="nav__item"><a class="nav__item__link" href="./services-treatments.html">Tratamientos corporales</a></li>
                <li class="nav__item"><a class="nav__item__link" href="./services-treatments.html">Tratamientos faciales</a></li>
                <li class="nav__item"><a class="nav__item__link" href="./services-treatments.html">Cuidado personal</a></li>
                <li class="nav__item"><a class="nav__item__link" href="./services-treatments.html">Nutricion y salud</a></li>
            </ul>
        </div>

        <div class="footer-nav-section">
            <div class="title">Sedes</div>
            <ul class="nav">
                <li class="nav__item"><a class="nav__item__link" href="./contact.html">Surquillo</a></li>
                <li class="nav__item"><a class="nav__item__link" href="./contact.html">Miraflores</a></li>
            </ul>
        </div>
        <div class="footer-nav-section contact">
            <div class="title">Contactanos</div>
            <ul class="nav social-media">
                <li class="nav__item"><span class="icon-social icon-facebook"></span></li>
                <li class="nav__item"><span class="icon-social icon-youtube"></span></li>
                <li class="nav__item"><span class="icon-social icon-instagram"></span></li>
            </ul>
        </div>
    </div>

    <div class="box-center">
        <div class="terms-content">
            <span class="icon-security"></span>
            <div class="text">Deberes y Derechos de nuestros pacientes</div>
        </div>

        <div class="claim-book">
            <span class="icon-claim-book"></span>
            <div class="text">Libro de reclamaciones</div>
        </div>
    </div>
    <div class="box-bottom">
        <div>Nativa Spa Todos los derechos reservados 2019</div>
        <div>Diseño Web StaffDigital</div>
    </div>
</section>