<header class="container-header">
    <div class="box-left"><span class="icon-menu"></span><a href="./home.html" class="brand white-color"><img src="https://picsum.photos/id/5/400/160" /></a><a href="./home.html" class="brand blue-color"><img src="https://picsum.photos/id/60/400/160" /></a></div>
    
    <div class="box-right">
        <div class="box-center">
            <div class="container-nav">
                <li class="container-nav__item">
                    <a class="container-nav__link" href="./index.html">Nosotros</a>
                </li>
                <li class="container-nav__item">
                    <a class="container-nav__link">Servicios</a>
                    <div class="megamenu-container">
                        <div class="megamenu-container__content services">
                            <div class="tabs-home-container__body">
                                <div class="tabs-box">
                                    <div class="tabs-box__item"><img class="icon" src="../assets/img/chiropractic.svg" /><div>Tratamientos faciales</div><span class="arrow icon"></span></div>
                                    <div class="tabs-box__item active"><img class="icon" src="../assets/img/chiropractic.svg" /><div>Tratamientos corporales</div><span class="arrow icon"></span></div>
                                    <div class="tabs-box__item"><img class="icon" src="../assets/img/chiropractic.svg" /><div>Cuidado personal</div><span class="arrow icon"></span></div>
                                    <div class="tabs-box__item"><img class="icon" src="../assets/img/chiropractic.svg" /><div>Nutricion y salud</div><span class="arrow icon"></span></div>
                                </div>

                                <div class="tabs-content">
                                    <div class="content active">
                                        <a class="paragraph" href="./detail-treatment.html">Tratamiento para piel seca</a>
                                        <a class="paragraph" href="./detail-treatment.html">Tratamiento para piel seca</a>
                                        <a class="paragraph" href="./detail-treatment.html">Tratamiento para piel seca</a>
                                        <a class="paragraph" href="./detail-treatment.html">Tratamiento para piel seca</a>
                                    </div>
                                    <div class="content">
                                        <a class="paragraph" href="./detail-treatment.html">Tratamiento para piel seca</a>
                                        <a class="paragraph" href="./detail-treatment.html">Tratamiento para piel seca</a>
                                    </div>
                                    <div class="content">
                                        <a class="paragraph" href="./detail-treatment.html">Tratamiento para piel seca</a>
                                        <a class="paragraph" href="./detail-treatment.html">Tratamiento para piel seca</a>
                                        <a class="paragraph" href="./detail-treatment.html">Tratamiento para piel seca</a>
                                        <a class="paragraph" href="./detail-treatment.html">Tratamiento para piel seca</a>
                                        <a class="paragraph" href="./detail-treatment.html">Tratamiento para piel seca</a>
                                        <a class="paragraph" href="./detail-treatment.html">Tratamiento para piel seca</a>
                                        <a class="paragraph" href="./detail-treatment.html">Tratamiento para piel seca</a>
                                        <a class="paragraph" href="./detail-treatment.html">Tratamiento para piel seca</a>
                                    </div>
                                    <div class="content">
                                        <a class="paragraph" href="./detail-treatment.html">Tratamiento para piel seca</a>
                                        <a class="paragraph" href="./detail-treatment.html">Tratamiento para piel seca</a>
                                        <a class="paragraph" href="./detail-treatment.html">Tratamiento para piel seca</a>
                                    </div>
                                </div>
                            </div>

                            <div class="make-date-box">
                                <img class="image" src="https://picsum.photos/500/500" />

                                <div class="content">
                                    <div class="title">Luce un rostro limpio y libre de imperfecciones</div>
                                    <div class="text">Con resultados inmediatos</div>
                                    <a href="#" class="btn btn-white btn-reserve">Reservar cita</a>
                                </div>
                            </div>
                        </div>

                        <div class="megamenu-container__close"></div>
                    </div>    
                </li>
                <li class="container-nav__item">
                    <a class="container-nav__link">Programas</a>
                    <div class="megamenu-container">
                        <div class="megamenu-container__content programs">                            
                            <div class="cards" href="./detail-programs.html">
                                {% include '../components/promotion-card.twig' %}
                            </div>
                            <div class="cards" href="./detail-programs.html">
                                {% include '../components/promotion-card.twig' %}
                            </div>
                            <div class="cards" href="./detail-programs.html">
                                {% include '../components/promotion-card.twig' %}
                            </div>
                            <div class="cards" href="./detail-programs.html">
                                {% include '../components/promotion-card.twig' %}
                            </div>
                        </div>
                        <div class="megamenu-container__action"><a class="btn btn-blue-light" href="./programs.html">Ver promociones</a></div>
                        <div class="megamenu-container__close"></div>
                    </div>
                </li>
            </div>
        </div>
        <span class="icon-social icon"></span>
        <span class="icon-social icon"></span>
        <span class="icon-social icon"></span>
        <a class="btn btn-orange btn-contact" href="./contact.html">Contacto</a>
    </div>
</header>