<section class="sidebar-menu">
    <div class="sidebar-menu__header">
        <span class="icon icon-close"></span>
        Volver
    </div>
    <ul class="sidebar-menu__list">
        <li class="sidebar-menu__list__item"><a class="sidebar-menu__list__item__link" href="./index.html">Nosotros</a><span class="icon icon-arrow-right"></span></li>
        <li class="sidebar-menu__list__item"><a class="sidebar-menu__list__item__link" href="./index.html">Servicios</a><span class="icon icon-arrow-right"></span></li>
                <li class="sidebar-menu__list__item"><a class="sidebar-menu__list__item__link" href="./index.html">Programas</a><span class="icon icon-arrow-right"></span></li>
        <li class="sidebar-menu__list__item"><a class="sidebar-menu__list__item__link" href="./contact.html">Contacto</a><span class="icon icon-arrow-right"></span></li>
    </ul>

    <div class="social-box">
        <span class="icon-facebook"></span>
        <span class="icon-instagram"></span>
        <span class="icon-youtube"></span>
    </div>
</section>