<section class="sidebar-menu">
    <div class="sidebar-menu__header">
        <span class="icon icon-close"></span>
        Volver
    </div>
    <ul class="sidebar-menu__list">
        <li class="sidebar-menu__list__item"><a class="sidebar-menu__list__item__link" href="./index.html">Nosotros<span class="icon icon-arrow-right"></span></a></li>
        <li class="sidebar-menu__list__item">
            <a class="sidebar-menu__list__item__link">Servicios<span class="icon icon-arrow-right"></span></a>
            <ul class="sidebar-menu__sublist">
                <li class="sidebar-menu__sublist__item"><a class="sidebar-menu__sublist__item__link" href="./services-treatments.html">Tratamientos Faciales</a></li>
                <li class="sidebar-menu__sublist__item"><a class="sidebar-menu__sublist__item__link" href="./services-treatments.html">Tratamientos Corporales</a></li>
                <li class="sidebar-menu__sublist__item"><a class="sidebar-menu__sublist__item__link" href="./services-treatments.html">Cuidado Natural</a></li>
            </ul>
        </li>
        <li class="sidebar-menu__list__item"><a class="sidebar-menu__list__item__link" href="./programs.html">Programas<span class="icon icon-arrow-right"></span></a></li>
        <li class="sidebar-menu__list__item"><a class="sidebar-menu__list__item__link" href="./contact.html">Contacto<span class="icon icon-arrow-right"></span></a></li>
    </ul>

    <div class="social-box">
        <span class="icon icon-facebook"></span>
        <span class="icon icon-instagram"></span>
        <span class="icon icon-youtube"></span>
    </div>
</section>