.banner-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    &-container{
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-bottom: 5px;
    }
    &__image{
        width: 100%;
        img{
            width: 100%;
            object-fit: cover;
            height: 600px;

            @include desde(s){
                height: 750px;
            }
            @include desde(m){
                height: auto;
                max-height: 640px;
            }
        }
    }

    &__content{
        width: 100%;
        max-width: 1400px;
        margin: auto;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: calc(50% - 125px);
        font-size: 32px;
        color: $white;
        text-align: center;
        margin-right:auto;
        left:0;
        right:0;
        padding: 0 7%;
        @include desde(s){
            font-size: 36px;
            
        }
        @include desde(m){
            text-align: left;
            font-size: 40px;
            align-items: flex-start;
        }

        .bold{
            margin-top: 5px;
            font-size: 32px;
            font-family: $PrimaryBold;
            text-align: center;
            @include desde(s){
                font-size: 36px;
            }
            @include desde(m){
                font-size: 40px;
                text-align: left;
            }
        }

        .last-word{
            position: relative;
            margin-bottom: 50px;
            &::after{
                content: "";
                background: $blue-light;
                display: inline-block;
                width: 10px;
                height: 10px;
                position: absolute;
                border-radius: 50%;
                bottom: 10px;
                right: -20px;
            }
        }

        &__btn{
            padding: 1rem 1rem;
        }
    }
    &__info-footer{
        width: 100%;
        max-width: 1400px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        margin-left:auto;
        margin-right:auto;
        left:0;
        right:0;
        padding: 0 7%;
        &__item{
            padding: 15px 15px;
            border-top: 2px solid rgba($white, .35);
            color: $white;
            font-family: $PrimarySemi;
            cursor: pointer;
            margin-right: 0;
            width: 100%;
            @include desde(s){
                margin-right: 50px;
                padding: 25px 15px;
            }

            &:last-child{
                margin-right: 0;
            }
            .title{
                font-size: 15px;
                margin-bottom: 0;
                display: none;
                @include desde(s){
                    display: block;
                    margin-bottom: 20px;
                }
            }

            .subtitle{
                font-size: 11px;
                line-height: 1.5;
                display: none;
                @include desde(s){
                    display: block;
                }
            }
        }
    }
}