.treatments-container{
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;

    @include desde(s){
        grid-template-columns: 1fr 1fr;
    }

    @include desde(m){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}