.breadcums{
    width: 100%;
    display: flex;
    max-width: 1400px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 13px;
    font-family: $PrimaryRegular;
    font-size: 14px;
    letter-spacing: 0.45px;

     @include desde(xs){
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 12px;
     }

    .link{
        cursor: pointer;
        line-height: 1.5;
        color: rgba($blue-dark, .5);
        display: flex;
        align-items: center;
        &:last-child{
            color: $blue-dark;
        }

        .icon-arrow-right{
            font-size: 14px;
        }
    }

    .icon{
        background: #1c1c1c;
        width: 10px;
        height: 10px;
        margin: 0 15px;
        display: inline-block;
    }

    &-container{
        padding: 20px 5%;
        max-width: 1400px;
        margin: auto;
        @include desde(s){
            padding: 25px 7%;
        }

        &.blue-light{
            background: $blue-light;
            
            .link{
                cursor: pointer;
                line-height: 1.5;
                color: rgba($white, .5);
                transition: all .35s ease-out;

                &:hover{
                    transition: all .35s ease-out;
                    color: $white;
                }
                
                &:last-child{
                    color: $white;
                }
            }
        }
    }
}