.sidebar-menu{
    font-family: $PrimaryRegular;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    z-index: 500;
    top: 100px;
    background: $white;
    top: 0;
    left: 0;
    height: 100%;
    position: fixed;
    width: 100%;
    max-width: 320px;
    transition: all .5s ease-out;
    transform: translateX(-100%);
    padding: 0;
    letter-spacing: 0.5px;
    &.active{
        transform: none;
    }
    @include desde(m){
        display: none;
    }

    &__header{
        padding: 25px 7%;
        width: 100%;
        background: $blue-light;
        color: $white;
        font-size: 15px;
        cursor: pointer;
        margin-bottom: 30px;
        .icon{
            margin-right: 25px;
        }
    }

    &__list{
        width: 100%;
        margin: 0;
        &__item{
            font-size: 16px;
            font-family: $PrimaryRegular;
            cursor: default;
            margin-right:0;
            width: 100%;
            cursor: pointer;
            border-bottom: 1px solid rgba($blue-light, .15);
            display: flex;
            justify-content: space-between;
            padding: 0 7%;
            align-items: center;
            flex-direction: column;
            &:last-child(){
                margin-right:0;
            }

            &__link{
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                padding: 20px 0;
                position: relative;
                color: #505050;
                transition: all .4s ease-out;
                //text-transform: uppercase;
                //width: 100%;
            }  
            
            .icon{
                transform: translateX(0%);
                transition: all .45s ease-out;
            }

            &:hover{
                .icon{
                    transform: translateX(-15px);
                }
            }
        }
    } 


    &__sublist{
        display: none;
        width: 100%;
        margin: 0;
        /*opacity: 0;
        visibility: hidden;
        z-index: -1;*/
        transition: all .35s ease-out;

        &.active{
            display: block;
        }
        &__item{
            width: 100%;
            padding: 0;
            border-bottom: 1px solid rgba(#505050 , .15);
            &:last-child{
                border-bottom: none;
            }
            &__link{
                display: inline-block;
                padding: 10px 0;
                width: 100%;
                font-size: 14px;
                color: rgba(#505050 , .55);
                font-family: $PrimaryLight;
                
            }
        }
    }

    .social-box{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        font-size: 18px;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        .icon{
            margin-right: 50px;

            &:last-child{
                margin-right: 0;
            }
        }
    }
}