.transition-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    transition: all .35s ease-out;

    &.reduced-height{
        height: 100px;
        .text{
            display: none;
        }
    }

    .text{
        max-width: 450px;
        font-size: 24px;
        color: $blue-light;
        text-align: center;
        font-family: $PrimaryLight;
        .bold{
            font-family: $PrimarySemi;
        }

        .last-word{
            position: relative;

            &::after{
                content: "";
                background: $blue-light;
                display: inline-block;
                width: 10px;
                height: 10px;
                position: absolute;
                border-radius: 50%;
                bottom: 3px;
                right: 12px;
            }
        }
    }
}