%treatment-card{
    margin-bottom: 5px;
    height: 480px;
    position: relative;
    transition: all .35s ease-in-out;
}

.treatment-card{
    @extend %treatment-card;
    background: $blue-light;

    @include desde(s){
        margin: 0 2.5px 5px;
    }

    @include desde(m){
        margin: 0 2.5px 5px;
    }

    &:hover{
        transition: all .35s ease-in-out;
        .treatment-card__content{
            top: calc(50% - 130px);
        }
        .description{
            transition: all .35s ease-in-out;
            display: block;
        }
    }

    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content{
        transition: all .35s ease-in-out;
        position: absolute;
        width:100%;
        padding: 0 7%;
        top: calc(50% - 27px);

        .title{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 70%;
            color: $blue-dark;
            font-size: 24px;
            font-family: $PrimaryBold;
            text-transform: capitalize;
        }

        &__body{
            display: none;
            transition: all .35s ease-in-out;

            .description__item{
                color: $white;
                font-size: 12px;
                font-family: $PrimarySemi;
                line-height: 2;

                &__link{
                    margin-left: 25px;
                    color: inherit;
                }
                //padding: 10px 15px;
            }

            .more-info{
                border-radius: 50%;
                background: $white;
                width: 45px;
                height: 45px;
                margin-top: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                //padding: 10px;
            }
        }
    }
}


.treatment-service-card{
    @extend %treatment-card;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba($blue-dark ,.25);
    padding: 45px;
    position: relative;
    cursor: pointer;
    @include desde(s){
        
    }

    @include desde(m){
        height: auto;
        min-height: 480px;
    }

    &:hover{
        transition: all .35s ease-in-out;
        background: $blue-light;

        .treatment-service-card__content__header,.description{
            transition: all .35s ease-in-out;
            color: $white;
            .more-info{
                transition: all .35s ease-in-out;
                color: $white;
                &::before{
                    transition: all .35s ease-in-out;
                    background: rgba($white, .35);
                }
            }
        }
        
    }

    &__content{
        margin: auto;
        
        &__header{
            display: flex;
            flex-direction: column;
            width: 100%;
            //max-width: 70%;
            color: $blue-dark;
            font-size: 24px;
            //font-family: $PrimaryBold;
            text-transform: capitalize;
            margin-bottom: 30px;

            .circle-image{
                background: transparent;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $blue-dark;
                width: 60px;
                height: 60px;
                margin-bottom: 20px;

                .icon{
                    width: 35px;
                    height: 35px; 
                }
            }
            
        }

        .description{
            color: $blue-dark;
            line-height: 1.5;
            
            .more-info{
                color: $blue-dark;
                position: absolute;
                margin-top: 50px;
                text-transform: uppercase;
                font-family: $PrimaryBold;
                font-size: 12px;
                padding-right: 50px;
                right: 0;
                transition: all .35s ease-in-out;
                &::before{
                    content: "";
                    width: 100%;
                    height: 2px;
                    transition: all .35s ease-in-out;
                    display: inline-block;
                    background: rgba($blue-dark, .35);
                    position: absolute;
                    bottom: -5px;

                }
            }
        }
    }
}