%treatment-card{
    margin-bottom: 5px;
    height: 480px;
    position: relative;
    transition: all .35s ease-out;
    display: flex;
    justify-content: flex-end;
}

.treatment-card{
    @extend %treatment-card;
    background: $blue-light;
    @include desde(s){
        margin: 0 2.5px 5px;
    }

    @include desde(m){
        margin: 0 2.5px 5px;
    }

    &:hover{
        transition: all .35s ease-in-out;
        .treatment-card__content{
            top: calc(50% - 130px);
        }
        .description{
            transition: all .35s ease-in-out;
            display: block;
        }
    }

    &__image{
        width: 75%;
        height: 100%;
        object-fit: cover;
        object-position: left;
        display: none;

        @include desde(s){
            display: block;
        }
    }

    &__content{
        transition: all .35s ease-in-out;
        position: absolute;
        width:100%;
        padding: 0 7%;
        top: calc(50% - 62px);

        .icon{
            width: 50px;
            height: 50px;
            margin-bottom: 20px;
        }
        &__header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include desde(s){
                align-items: flex-start;
            }
        }
        .title{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 70%;
            color: $blue-dark;
            font-size: 22px;
            font-family: $PrimaryBold;
            text-transform: capitalize;
            text-align: center;
            @include desde(s){
                text-align: left;
            }
        }

        &__body{
            display: none;
            transition: all .35s ease-in-out;

            .description{
                &__item{
                    font-size: 15px;
                    font-family: $PrimaryLight;
                    line-height: 2.25;
                    transition: all .35s ease-in-out;
                    text-align: center;

                    @include desde(s){
                        text-align: left;
                        font-size: 12px;
                    }
                    &:hover{
                        font-size: 17px; 
                        @include desde(s){
                            font-size: 14px;
                        }
                    }
                    &__link{
                        color: $white;
                    }
                }
            }

            .more-info{
                border-radius: 50%;
                background: $white;
                width: 45px;
                height: 45px;
                margin: auto;
                margin-top: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                //padding: 10px;

                @include desde(s){
                    margin-left: 0;
                }
                cursor: pointer;
                .icon-plus{
                    font-size: 24px;
                    color: rgba(#505050 ,.75);
                }
            }
        }
    }
}


.treatment-service-card{
    @extend %treatment-card;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba($blue-dark ,.25);
    padding: 45px;
    position: relative;
    transition: all .35s ease-out;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    max-width: 360px;
    @include desde(s){
        
    }

    @include desde(m){
        height: auto;
        min-height: 480px;
    }

    &:hover{
        transition: all .35s ease-out;
        background-color: $blue-light;

        .treatment-service-card__content__header,.description{
            transition: all .35s ease-in-out;
            color: $white;
            
            .more-info{
                transition: all .35s ease-in-out;
                color: $white;
                &::before{
                    transition: all .35s ease-in-out;
                    background: rgba($white, .35);
                }
            }
        }
        
    }

    &__content{
        margin: auto;
        
        &__header{
            display: flex;
            flex-direction: column;
            width: 100%;
            //max-width: 70%;
            color: $blue-dark;
            font-size: 24px;
            font-family: $PrimaryLight;
            text-transform: capitalize;
            margin-bottom: 30px;

            .circle-image{
                background: transparent;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $blue-dark;
                width: 60px;
                height: 60px;
                margin-bottom: 20px;

                .icon{
                    width: 35px;
                    height: 35px; 
                }
            }
            
        }

        .description{
            color: $blue-dark;
            line-height: 1.5;
            font-family: $PrimaryLight;
            font-size: 16px;
            .more-info{
                color: $blue-dark;
                position: relative;
                margin-top: 50px;
                text-transform: uppercase;
                font-family: $PrimarySemi;
                font-size: 12px;
                //padding-right: 50px;
                right: 0;
                text-align: right;
                transition: all .35s ease-in-out;
                &::before{
                    content: "";
                    width: 100%;
                    height: 2px;
                    transition: all .35s ease-in-out;
                    display: inline-block;
                    background: rgba($blue-dark, .35);
                    position: absolute;
                    bottom: -5px;

                }
            }
        }
    }
}