.banner-instalations-container{
    width: 100%;

    &__header{
        width: 100%;
        max-width: 1400px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 80px 7%;

        @include desde(m){
            flex-direction: row;
            padding: 120px 7%;
        }

        .left, .right{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include desde(m){
                width: 50%;
            }
        }

        .title{
            flex-direction: column;
            font-size: 30px;
            align-items: center;
            line-height: 1.25;
            color: $blue-dark;
            margin-bottom: 50px;
            text-align: center;
            font-family: $PrimaryLight;

            .bold{
                font-family: $PrimarySemi;
            }

            @include desde(m){
                margin-bottom: 0px;
                align-items: flex-start;
                text-align: left;
            }
        }

        .nav{
            display: flex;
            width: 100%;
            max-width: initial;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            @include desde(s){
                max-width: 400px;
                flex-direction: row;
                justify-content: space-around;
            }

            &__item{
                text-transform: uppercase;
                font-size: 14px;
                position: relative;
                transition: all .35s ease-in-out;
                color: $orange;
                font-family: $PrimaryRegular;
                padding: 5px 0;
                margin-bottom: 30px;
                cursor: pointer;

                @include desde(s){
                    padding: 0;
                    margin-bottom: 0;
                }

                &.tns-nav-active{
                    transition: all .35s ease-in-out;

                    &::before{
                        content: "";
                        width: 100%;
                        background: $orange;
                        height: 3px;
                        position: absolute;
                        display: inline-block;
                        bottom: -3PX;
                        transition: all .35s ease-in-out;

                        @include desde(s){
                            bottom: -5px;
                        }
                        @include desde(m){
                            bottom: -15px;
                        }
                    }    
                }

                &::before{
                    content: "";
                    width: 0;
                    background: $orange;
                    height: 3px;
                    position: absolute;
                    display: inline-block;
                    left: 0;
                    bottom: -3PX;
                    transition: all .35s ease-in-out;
                    @include desde(s){
                        bottom: -5px;
                    }
                    @include desde(m){
                        bottom: -15px;
                    }
                }

                &:hover{
                    transition: all .35s ease-in-out;

                    &::before{
                        content: "";
                        width: 100%;
                        background: $orange;
                        height: 3px;
                        position: absolute;
                        display: inline-block;
                        bottom: -3PX;
                        transition: all .35s ease-in-out;

                        @include desde(s){
                            bottom: -5px;
                        }
                        @include desde(m){
                            bottom: -15px;
                        }
                    }    
                }
            }
        }
    }
    .box{
        position: relative;
        width: 100%;
    }
    &__banner{
        width: 100%;

        &__controls{
            position: absolute;
            top: calc(50% - 20px);
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 7%;
            align-items: center;

            .left, .right{
                color: $blue-light;
                background: $white;
                font-size: 55px;
                border-radius: 50%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                box-shadow: 0 5px 25px -1px rgba(#505050,.5)
            }
        }
    }
}