.container-header{
    width: 100%;
    &__box{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        height: 70px;
        padding: 0 5%;
        position: sticky;
        background: $white;
        z-index: 30;
        top: 0;
        //box-shadow: 0px 5px 25px -1px rgba($black,0.50);
        box-shadow: none;
        transition: all .75s ease-out;
        @include desde(m){
            box-shadow: none;
            padding: 0 7%;
            //position: relative;
        }
    }

    .box-center{
        //margin-right: 35px;
        margin: auto;
    }
    .box-left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 270px;
        .icon-menu{
            margin-right: 20px;
            font-size: 24px;
            color: #505050;
            display: block;
            z-index: 15;
            cursor: pointer;
            @include desde(m){
                display: none;
            }
        }

        .icon-close{
            margin-right: 20px;
            font-size: 24px;
            color: #505050;
            display: block;
            z-index: 15;
            cursor: pointer;
        }

        .brand{
            width: 100%;
            max-width: 150px;
            &.white-color{
                display: none;
            }
        }
    }

    .container-nav{
        font-family: $PrimaryRegular;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        display: none;
        z-index: 150;
        top: 100px;
        background: $white;
        top: 70px;
        left: 0;
        height: calc(100vh - 70px);
        position: fixed;
        width: 100%;
        max-width: 320px;
        transition: all .5s ease-out;
        transform: translateX(-100%);
        padding: 30px 0;
        letter-spacing: 0.5px;
        
        &.active{
            transform: none;
        }
        @include desde(m){
            position: relative;
            flex-direction: row;
            max-width: initial;
            padding: 0;
            justify-content: space-around;
            align-items: center;
            background: transparent;
            margin-right: 35px;
            top: 0px;
            height: auto;
            left: initial;
            display: flex;
            transform: none;
        }

        &__item{
            font-size: 14px;
            font-family: $PrimaryRegular;
            cursor: default;
            margin-right:0;
            width: 100%;
            cursor: pointer;
            border-bottom: 1px solid rgba($white, .35);
            @include desde(m){
                width: auto;
                font-size: 12px;
                margin-right:40px;
                border-bottom: none;
                //font-family: $PrimarySemi;
            }

            &:last-child(){
                margin-right:0;
            }
        }

        &__link{
            display: inline-block;
            padding: 14px 7%;
            position: relative;
            color: #505050;
            transition: all .4s ease-out;
            text-transform: uppercase;
            width: 100%;

            &::before{
                content: "";
                width: 0;
                background: $blue-light;
                height: 4px;
                position: absolute;
                display: inline-block;
                left: 0;
                bottom: -5px;
                transition: all .35s ease-in-out;
            }

            &:hover{
                transition: all .4s ease-out;
                //background: $blue-light;
                color: rgba(#5d5d5d, .85);
                &::before{
                    width: 0;
                    background: $blue-light;
                    height: 4px;
                    position: absolute;
                    display: inline-block;
                    bottom: -5px;
                    transition: all .35s ease-in-out;
                    @include desde(m){
                        width: 100%;
                    }
                }    
            }
            @include desde(m){
                width: auto;

                &.active{
                    color: $blue-light !important;
                    &::before{
                        content: "";
                        width: 100%;
                        background: $blue-light;
                        height: 4px;
                        position: absolute;
                        display: inline-block;
                        bottom: -5px;
                        transition: all .35s ease-in-out;
                    }    

                }
            }
            
        }
    }
    .box-right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        //width: 100%;
        min-width: 270px;
        .box-social{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .icon-social{
            width: 15px;
            height: 15px;
            display: inline-block;
            margin-right: 35px;
            display: none;
            color: #505050;

            @include desde(s){
                display: block;
            }
        }

        .btn-contact{
            padding: 0.8rem 1rem;
            @include desde(xs){
                padding: 0.8rem 1.5rem;
            }
        }
    }
}

.fixed-header{
    position: sticky !important;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .75s ease-out;
    box-shadow: 0px 5px 25px -1px rgba($black,0.50);
    background: $white !important;
    z-index: 10;
    .container-nav__link{
        color: #5d5d5d !important;
        &:hover{
            color: rgba(#5d5d5d, .85) !important;
        }
    }

    .icon-social, .icon-menu{
        color: #505050 !important;
    }

}