<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="./assets/css/app.css">
    {% include '../common/head.twig' %}
    <title>{% block title %}{% endblock %}</title>

</head>
<body class="{{ body__class }}">
    <div class="wrapper">
        {% include '../common/header.twig' %}
        {% block content %}{% endblock %}
        {% include '../common/footer.twig' %}
    </div>

    <script src="./assets/js/jquery.js"></script>
    <script src="./assets/js/tiny-slider.js"></script>
    <script src="./assets/js/lightgallery.js"></script>
    <script src="./assets/js/general.js"></script>
    <script src="./assets/js/app.js"></script>
    
    {% block scripts %}{% endblock %}
</body>
</html>