    <section class="banner-instalations-container">
        <div class="banner-instalations-container__header">
            <div class="left title">
                <strong class="bold">Conoce nuestras instalaciones</strong>que tenemos para ti
            </div>
            <ul class="right nav">
                <li class="nav__item">Sala de masajes</li>
                <li class="nav__item">Sedes</li>
                <li class="nav__item">Consultorios</li>
            </ul>
        </div>

        <div class="banner-instalations-container__banner">
            <div class="banner-instalations-container__banner__item">
                <img src="https://picsum.photos/1920/1024" />
            </div>
            
            <div class="banner-instalations-container__banner__item">
                <img src="https://picsum.photos/1920/1024" />
            </div>

            <div class="banner-instalations-container__banner__item">
                <img src="https://picsum.photos/1920/1024" />
            </div>
        </div>
    </section>