<section class="banner-video-container">
    <div class="banner-video-container__image"><img src="../assets/img/bannervideo.png" /></div>
    <div class="banner-video-container__content container">
        <div class="info-wrapper" data-aos="fade-right">
            <div class="title"><strong class="bold">Historias<br>de</strong>nuestros pacientes</div>
            <div class="description">Lorem ipsum dolor sit amet consectetur</div>
        </div>
        <span class="icon-video">
            <div id="video-gallery">
                <a href="https://www.youtube.com/watch?v=UX4tHi2SixQ&list=RDUX4tHi2SixQ&start_radio=1" data-poster="video-poster1.jpg" >
                    <img src="../assets/img/play-button-4.svg" />
                </a>
            </div>
        </span>
    </div>
</section>