<section class="banner-video-container">
    <div class="banner-video-container__image"><img src="https://picsum.photos/id/827/1920/1080" /></div>
    <div class="banner-video-container__content container">
        <div class="info-wrapper">
            <div class="title"><strong class="bold">Historias<br>de</strong>nuestros pacientes</div>
            <div class="description">Lorem ipsum dolor sit amet consectetur</div>
        </div>
        <div class="icon-video"><img src="../assets/img/play-button-4.svg" /></div>
    </div>
</section>