<section class="contact-form-container container">
    <div class="modal__content__close modal__close">
        <span class="icon-close"></span>
    </div>
    <div class="contact-form-container__header" data-aos="fade-right">
        <div class="title">Hablemos</div>
        <div class="subtitle">Comunicate con nosotros para solicitar con nosotros</div>
    </div>    
    <div class="contact-form-container__form">

        <div class="form__row" data-aos="fade-up">
            {% include "../atoms/inputs.twig" with { input: {type: 'text', label: 'Nombre*:'} } %}
            {% include "../atoms/inputs.twig" with { input: {type: 'text', label: 'Apellido*:'} } %}
        </div>

        <div class="form__row" data-aos="fade-up">
            {% include "../atoms/inputs.twig" with { input: {type: 'text', label: 'Telefono*:'} } %}
            {% include "../atoms/inputs.twig" with { input: {type: 'text', label: 'Email*:'} } %}
        </div>

        <div class="form__row" data-aos="fade-up">
            {% include "../atoms/textarea.twig" with { input: {type: 'text', label: 'Mensaje*:'} } %}
        </div>
        

        {% include "../atoms/terms-and-conditions.twig" %}
        
        <div class="btn btn-orange btn-send-contact" data-aos="fade-up">Enviar</div>
    </div>
</section>