<section class="contact-map-container">
    <div class="contact-map-container__map" id="google-maplima">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12366.240947789738!2d-76.99337168088323!3d-12.12914868282509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c7f800ff642d%3A0x9779265b77f7edc6!2sLavanderia+Rafo!5e0!3m2!1ses-419!2spe!4v1560142011691!5m2!1ses-419!2spe" width="1920" height="768" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="contact-map-container__content all-places active">
        <div class="contact-map-container__content__header">Nativa</div>
        <div class="contact-map-container__content__body">
            <div class="places-store-box">
                <div class="places-store-box__header">Sede Surquillo</div>    
                <div class="places-store-box__body">
                    <div class="text direction">C Victor Larco Herrera 260, Miraflores - Lima Alt. Cdra 6 Argentina Oeste</div>
                    <div class="text schedule">Lun - Vier 8:00 a 22h</div>
                    <div class="text schedule">Sab 8:00 a 13h</div>

                    <a class="link view-in-map" data-lat="77.521254" data-long="-12.632541">Ver sede</a>  
                </div>    
            </div>
            <div class="places-store-box">
                <div class="places-store-box__header">Sede Surquillo</div>    
                <div class="places-store-box__body">
                    <div class="text direction">C Victor Larco Herrera 260, Miraflores - Lima Alt. Cdra 6 Argentina Oeste</div>
                    <div class="text schedule">Lun - Vier 8:00 a 22h</div>
                    <div class="text schedule">Sab 8:00 a 13h</div>
                
                    <a class="link view-in-map" data-lat="77.521254" data-long="-11.632541">Ver sede</a>
                </div>    
            </div>
        </div>
    </div>

    <div class="contact-map-container__content selected-place">
        <div class="contact-map-container__content__body">
            <div class="places-store-box">
                <div class="places-store-box__header">Ubicanos</div>    
                <div class="places-store-box__body">
                    <div class="text direction">C Victor Larco Herrera 260, Miraflores - Lima Alt. Cdra 6 Argentina Oeste</div>
                    <div class="text"><span class="icon icon-clock"></span><div class="schedule">Lun - Vier 8:00 a 22h<br>Sab 8:00 a 13h</div></div>
                    <div class="text"><span class="icon icon-phone"></span><strong class="phone">+51 739 0988</strong></div>

                    <a class="link return-to-map">Volver</a>  
                </div>    
            </div>
        </div>
    </div>
</section>