<div class="price-box-container">
    <div class="price-box-container__header">Fitness reductor estandar</div>

    <div class="price-box-container__body">
        <ul class="description-menu">
            <li class="description-menu__item">
                Drename linfatico (4 sesiones)
            </li>
            <li class="description-menu__item">
                Drename linfatico (4 sesiones)
            </li>
            <li class="description-menu__item">
                Drename linfatico (4 sesiones)
            </li>
            <li class="description-menu__item">
                Drename linfatico (4 sesiones)
            </li>
        </ul>
        <div class="description-text">Zonas: Abdomen, cintura, espalda alta, espalda baja o brazos</div>
    </div>

    <div class="price-box-container__footer">
        <strong class="bold">S/189.00</strong>
        <div>Precio Regular: S/278.00</div>
        <div class="btn btn-blue-light">Reservar cita</div>
    </div>
</div>