<section class="facial-creams container" data-aos="fade-up">
    <div class="facial-creams__header" data-aos="fade-right">Cremas & Geles Faciales</div>

    <div class="facial-creams__slider">
        <div class="facial-creams__slider__item">
            <div class="header"><img class="icon" src="../assets/img/group-10.svg" /></div>
            <div class="body">
                <div class="title">Radiofrecuencia Tripolar</div>
                <div class="desc">Una crema exfoliante es un tipo de crema para la piel diseñada especialmente.</div>
            </div>    
        </div>
    
        <div class="facial-creams__slider__item">
            <div class="header"><img class="icon" src="../assets/img/group-10.svg" /></div>
            <div class="body">
                <div class="title">Radiofrecuencia Tripolar</div>
                <div class="desc">Una crema exfoliante es un tipo de crema para la piel diseñada especialmente.</div>
            </div>    
        </div>
        <div class="facial-creams__slider__item">
            <div class="header"><img class="icon" src="../assets/img/group-10.svg" /></div>
            <div class="body">
                <div class="title">Radiofrecuencia Tripolar</div>
                <div class="desc">Una crema exfoliante es un tipo de crema para la piel diseñada especialmente.</div>
            </div>    
        </div>
        <div class="facial-creams__slider__item">
            <div class="header"><img class="icon" src="../assets/img/group-10.svg" /></div>
            <div class="body">
                <div class="title">Radiofrecuencia Tripolar</div>
                <div class="desc">Una crema exfoliante es un tipo de crema para la piel diseñada especialmente.</div>
            </div>    
        </div>
        <div class="facial-creams__slider__item">
            <div class="header"><img class="icon" src="../assets/img/group-10.svg" /></div>
            <div class="body">
                <div class="title">Radiofrecuencia Tripolar</div>
                <div class="desc">Una crema exfoliante es un tipo de crema para la piel diseñada especialmente.</div>
            </div>    
        </div>
        <div class="facial-creams__slider__item">
            <div class="header"><img class="icon" src="../assets/img/group-10.svg" /></div>
            <div class="body">
                <div class="title">Radiofrecuencia Tripolar</div>
                <div class="desc">Una crema exfoliante es un tipo de crema para la piel diseñada especialmente.</div>
            </div>    
        </div>
    </div>

</section>