<div class="mision-vision-container">
    <div class="content-box mision-wrapper" data-aos="fade-right">
         <div class="content-box__info">
            <div class="title">Mision:</div>
            <div class="text">Resaltar la belleza natural de cada mujer a travez de un servicio personalizado y de alta calidad. Creando experiencias inolvidales junto a un equipo profesional excepcional y la mas alta tecnologia medica & estetica.</div>
        </div>
    </div>
    
    <div class="content-box vision-wrapper" data-aos="fade-left">
        <div class="content-box__info">
            <div class="title">Vision:</div>
            <div class="text">Resaltar la belleza natural de cada mujer a travez de un servicio personalizado y de alta calidad. Creando experiencias inolvidales junto a un equipo profesional excepcional y la mas alta tecnologia medica & estetica.</div>
        </div>
    </div>

    <div class="image" data-aos="fade-up">
        <img src="https://picsum.photos/1920/1024" />
    </div>
</div>