<div class="modal modal-contact-us">
    <div class="modal-header">
        <div class="close-box"><img class="" src="./assetes/img/close.svg" /></div>
    </div>
    <div class="modal-body">
        {% include '../components/contact-form.twig' %}
    </div>
</div>