<section class="our-procedures container" data-aos="fade-up">
    <div class="our-procedures__header" data-aos="fade-right">Equipos y Procedimientos en nuestro tratamiento</div>

    <div class="our-procedures__slider">
        <div class="our-procedures__slider__item">
            <div class="header"><img src="../assets/img/equipos.jpg" /></div>
            <div class="body">
                <div class="title">Radiofrecuencia Tripolar</div>
                <div class="desc">Una crema exfoliante es un tipo de crema para la piel diseñada especialmente.</div>
            </div>    
        </div>
    
        <div class="our-procedures__slider__item">
            <div class="header"><img src="../assets/img/equipos.jpg" /></div>
            <div class="body">
                <div class="title">Radiofrecuencia Tripolar</div>
                <div class="desc">Una crema exfoliante es un tipo de crema para la piel diseñada especialmente.</div>
            </div>    
        </div>
        <div class="our-procedures__slider__item">
            <div class="header"><img src="../assets/img/equipos.jpg" /></div>
            <div class="body">
                <div class="title">Radiofrecuencia Tripolar</div>
                <div class="desc">Una crema exfoliante es un tipo de crema para la piel diseñada especialmente.</div>
            </div>    
        </div>
        <div class="our-procedures__slider__item">
            <div class="header"><img src="../assets/img/equipos.jpg" /></div>
            <div class="body">
                <div class="title">Radiofrecuencia Tripolar</div>
                <div class="desc">Una crema exfoliante es un tipo de crema para la piel diseñada especialmente.</div>
            </div>    
        </div>
        <div class="our-procedures__slider__item">
            <div class="header"><img src="../assets/img/equipos.jpg" /></div>
            <div class="body">
                <div class="title">Radiofrecuencia Tripolar</div>
                <div class="desc">Una crema exfoliante es un tipo de crema para la piel diseñada especialmente.</div>
            </div>    
        </div>
        <div class="our-procedures__slider__item">
            <div class="header"><img src="../assets/img/equipos.jpg" /></div>
            <div class="body">
                <div class="title">Radiofrecuencia Tripolar</div>
                <div class="desc">Una crema exfoliante es un tipo de crema para la piel diseñada especialmente.</div>
            </div>    
        </div>
    </div>

</section>