<section class="exclusive-promotions-container container">
    <div class="exclusive-promotions-container__item no-card">
        <div class="card__body">
            <div class="title">Promociones exclusivas</div>
            <ul class="information-nav">
                <li class="information-nav__item">Lorem ipsum dolor sit  amet consectetur adipiscing amet consectetur adipiscing.</li>
            </ul>
            <a class="btn btn-blue-light" href="./programs.html">Ver promociones</a>
        </div>  
    </div>
    {% include '../components/promotion-card.twig' %}

    {% include '../components/promotion-card.twig' %}

    {% include '../components/promotion-card.twig' %}
    
</section>