<div class="promotion-card">
    <div class="promotion-card__header">
        <img class="promotion-card__header__img" src="https://picsum.photos/1920/1024" />
        <div class="porcentage">-20%</div>
    </div>
    <div class="promotion-card__body">
        <div class="title">Limpieza, exfoleacion & hidratacion corporal</div>
        <ul class="information-nav">
            <li class="information-nav__item">Las 8 sesiones se realizan en 4 visitas</li>
            <li class="information-nav__item">04 Sesiones de Ondas</li>
            <li class="information-nav__item">Rusas 04 Sesiones de Crioterapia + Gel  Criogeno</li>
        </ul>
        <a class="information-nav__link">Ver detalle</a>

        <div class="promotion-card__footer">
            Desde:<strong class="bold">S/179</strong>
        </div>  
    </div>
          
</div>