<div class="transition-services-reserv">
    <div class="transition-services-reserv__box container">
        <div class="content">
            <div class="content__header">
                <strong class="bold">¿Aun no sabes que<br></strong>
                tratamiento necesitas?
            </div>
            <div class="text">Reserva una cita o llamanos al <strong class="bold">(01)739 0888<br></strong>comienza a vivir sin dolores.</div>
        
            <a class="btn btn-orange">Reservar cita</a>
        </div> 
        <div class="image"><img src="https://picsum.photos/id/827/1920/1080" /></div>
    </div>
</div>