<div class="treatment-card" data-aos="fade-up">
    <img class="treatment-card__image" src="../assets/img/cuidado-personal-card.png" />
    <div class="treatment-card__content">
        <div class="treatment-card__content__header">
            <img src="../assets/img/treatmentcard1.png" class="icon" />
            <div class="title">Tratamientos corporales</div>
        </div>
        
        <ul class="treatment-card__content__body description">
            <li class="description__item"><a class="description__item__link" href="./detail-treatment.html">Fitness reductor</a></li>
            <li class="description__item"><a class="description__item__link" href="./detail-treatment.html">Fitness reductor</a></li>
            <li class="description__item"><a class="description__item_  _link" href="./detail-treatment.html">Fitness reductor</a></li>
            <li class="description__item"><a class="description__item__link" href="./detail-treatment.html">Fitness reductor</a></li>
            <div class="more-info"><span class="icon"></span></div>
        </ul>
    </div>
</div>