<div class="treatment-service-card">
    <div class="treatment-service-card__content">
        <div class="treatment-service-card__content__header">
            <div class="circle-image"><img src="./assets/img/meditation-copy.svg" class="icon" /></div>
            <div class="title">Fitness reafirmante</div>
        </div>
        
        <div class="treatment-service-card__content__body description">
            Lorem ipsum dolor sit amet consectetur adipiscing elit, nisi aliquet ridiculus montes arcu porttitor, in nostra orci nisl gravida sapien.
            <div class="more-info">Mas informacion</div>
        </div>  
    </div>
</div>