<div class="treatment-card">
    <img class="treatment-card__image"< src="https://picsum.photos/id/17/1920/1080" />
    <div class="treatment-card__content">
        <div class="treatment-card__content__header">
            <img src="" class="icon" />
            <div class="title">Tratamientos corporales</div>
        </div>
        
        <ul class="treatment-card__content__body description">
            <li class="description__item"><a class="description__item__link" href="./only-treatment.html">Fitness reductor</a></li>
            <li class="description__item"><a class="description__item__link" href="./only-treatment.html">Fitness reductor</a></li>
            <li class="description__item"><a class="description__item__link" href="./only-treatment.html">Fitness reductor</a></li>
            <li class="description__item"><a class="description__item__link" href="./only-treatment.html">Fitness reductor</a></li>
            <div class="more-info"><img src="#" /></div>
        </ul>
        
        
    </div>
</div>